server:
  port: 8888
spring:
  application:
    name: config-service
  profiles:
    active: native
  rabbitmq:
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
  cloud:
    config:
      server:
        native:
          search-locations: file:///D:/native-config
        git:
          uri: file://D:/msa-config
management:
  endpoints:
    web:
      exposure:
        include: refresh,health,beans,httptrace,busrefresh
encrypt:
  key: woodongkey123!@#